HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
### GraphBD ###
graphdb-data/logs/*
graphdb-data/graphdb-import/*
graphdb-data/work/*
graphdb-data/data/*

!graphdb-data/data/readme.md
!graphdb-data/logs/
!graphdb-data/graphdb-import/readme.md
!graphdb-data/work/
*.ttl
*.xlsx
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.ttl
*.env
*.log
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
src/main/resources/application.properties
