<configuration>
    <property name="LOG_DIR" value="src/main/resources/static/logs" />
    <property name="LOG_FILE" value="logs" />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/${LOG_FILE}.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="upc.edu.gessi.repo.service.impl.ReviewServiceImpl" level="INFO">
        <appender-ref ref="FILE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
</configuration>
